.selector {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

div.dropdown {
    width: 33.3vw;
    max-width: 400px;
    cursor: pointer;
}