/* Info above buttons */
div.upperInfoContainer {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 55px;
}

div.upperInfo {
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: end;
    text-align: end;
}

h1.upperInfo {
    font-size: 26px;
    font-weight: bold;
}

h4.upperInfo {
    font-size: 16px;
}

/* Buttons */
div.buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 36px;
}

@media screen and (max-width: 940px) {
    div.buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
    }
}

button.backButton {
    font-size: 20px;
    font-weight: bold;

    width: 90vw;
    max-width: 385px;
    height: 60px;

    background: #424242;
    border-radius: 12px;

    padding-bottom: 8px;
}

button.submitButton {
    font-size: 20px;
    font-weight: bold;

    width: 90vw;
    max-width: 385px;
    height: 60px;

    background: #FF000A;
    border-radius: 12px;

    padding-bottom: 8px;
}

button.submitButton:disabled {
    cursor: default;
    background-color: #af2b2f;
    opacity: 0.5;
}

/* Lower info container */
div.lowerInfoContainer {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 5px;
}

/* Error message */

h4.errorMessage {
    color: #FF000A;
}



/* loading image */
@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

img.loadImage {
    width: 18px;
    height: auto;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}