@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("./fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}


html {
    background-color: #0F0F0F;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: #fff;
}

hr.hr {
    width: 100%;
    max-width: 1200px;
    border: 1px solid #313131;
    margin-top: 90px;
}

h1.dontAcceptOrders {
    font-family: 'Montserrat', open-sans;
    font-size: 18px;
    font-weight: bold;

    display: flex;
    justify-content: center;

    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 2px;
    width: 90%;
    max-width: 1200px;
}

@media screen and (max-width: 530px) {
    hr.hr {
        margin-top: 85px;
    }
}

@media screen and (max-width: 460px) {
    hr.hr {
        margin-top: 80px;
    }
}

/* Categories */
:global h1.category {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 28px;
}

@media screen and (max-width: 650px) {
    :global h1.category {
        font-size: 24px;
    }
}

ul {
    list-style-type: none;
}

/* Loading image */


@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

:global(img.loadingImage) {
    width: 18px;
    height: auto;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}