h1.category {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
}

ul.category {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 40px;
    padding-top: 20px;
}

/* "Add item" component for admins */

li.addItem {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #353535;
    transition: background-color 0.2s ease-in-out;

    cursor: pointer;
}

li.addItem:hover {
    background-color: #454545;
}

img.addItem {
    width: 83px;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

img.addItem:hover {
    opacity: 0.8;
}

/* Failed search */
h1.failedSearch {
    margin-top: 10px;
    font-family: 'Montserrat', open-sans;
}