div.test {
    margin-top: 100px;
    width: 90%;
    max-width: 1200px;
    font-family: 'Montserrat', sans-serif;
}

input.test {
    margin-top: 100px;
    width: 450px;
    height: 50px;
    background: #000000;
    border: 2px solid #3D3D3D;
    border-radius: 9px;

    color: #fafafa;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
}

button.test {
    margin-top: 100px;
    font-size: 20px;
    font-weight: bold;

    width: 385px;
    height: 60px;

    background: #FF000A;
    border-radius: 12px;

    padding-bottom: 8px;
}