div.windowContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 20;
}

div.background {
    background-color: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    cursor: pointer;
}

div.window {

    width: 780px;
    padding: 0px 83px 30px;

    background: #0F0F0F;
    border: 1px solid #727272;
    border-radius: 29px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 23px;

    font-family: 'Montserrat', sans-serif;
    z-index: 30;
}

@media screen and (max-height: 1000px) {
    div.window {
        max-height: 90vh;

        overflow-y: scroll;
        overflow-x: hidden;
    }
}

h1.window {
    margin-top: 60px;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}

h2.window {
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
}

div.line {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}

input.text,
textarea.text {

    height: 34px;

    background: #000000;
    border: 1px solid #3D3D3D;
    border-radius: 9px;
    color: #fafafa;

    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

input.text:disabled,
textarea.text:disabled {
    opacity: 0.5;
}

textarea.text {
    height: 70px;
    padding-top: 5px;
}

div.labelWithCheckbox {
    display: flex;
    align-items: center;
}

div.inlinePrice {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: left;
}

div.inlineInput {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
}

/* buttons */
div.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

button.back,
button.submit {
    margin-top: 10px;

    width: 235px;
    height: 35px;

    background-color: #222222;
    border-radius: 9px;

    transition: background-color 0.2s ease-in-out;
}

button.submit {
    background-color: #575757;
}

button.back:hover {
    background-color: #333;
}

button.submit:hover {
    background-color: #777777;
}

button.submit:disabled {
    opacity: 0.3;
    cursor: default;
}

/* loading image */
@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

img.loadImage {
    width: 18px;
    height: auto;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}