div.cart {
    width: 90%;
    max-width: 1200px;
    margin-bottom: 200px;
}

div.firstLine {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

h1.label {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: bold;
}

h3.linkToHome {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: end;
    text-decoration-line: underline;
    padding-top: 5px;
    max-width: 50vw;
}

@media screen and (max-width: 550px) {
    h1.label {
        font-size: 24px;
    }

    h3.linkToHome {
        font-size: 16px;
    }
}

/* Submit button */
div.button {
    margin-top: 40px;
    display: flex;
    justify-content: end;
}

@media screen and (max-width: 600px) {
    div.button {
        justify-content: center;
    }
}

button.button {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;

    width: 525px;
    height: 60px;

    background: #FF000A;
    border-radius: 12px;
}

@media screen and (max-width: 600px) {
    button.button {
        font-size: 18px;
        width: 90vw;
    }

    div.adaptiveContainer {
        display: flex;
        width: 425px;
        flex-direction: column;
        align-items: center;
    }
}

button.button:disabled {
    cursor: default;
    background-color: #af2b2f;
    opacity: 0.5;
}

h4.error {
    display: flex;
    width: 525px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #FF000A
}

@media screen and (max-width: 600px) {

    h4.error {
        width: 90vw;
    }
}