button.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 48px;
    margin-top: 12px;
    background: linear-gradient(99.03deg, #323232 19.8%, rgba(15, 15, 15, 0) 100%);
    opacity: 1;
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

button.cart:hover {
    background-color: #323232;
}

button.cart:disabled {
    cursor: default;
    opacity: 0.3;
}

@media screen and (max-width: 550px) {
    button.cart {
        margin-top: 0px;
    }
}

/* Cart button */
img.cart {
    display: inline-block;
    max-width: 25px;
    height: auto;
}

p.cart {
    display: inline-block;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    button.cart {
        width: auto;
        padding: 0 20px;
    }

    p.cart {
        display: none;
    }
}

/* Cart counter */
div.cartCounter {
    position: relative;
}

@media screen and (max-width: 768px) {
    div.cartCounter {
        margin-right: 0;
    }
}

span.cartCounter {
    position: absolute;
    left: 17px;
    top: -3px;
    padding: 1px;
    min-width: 18px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    z-index: 1;
    background: #FF000A;
    border-radius: 5px;
}