/* Info section */
section.info {
    width: 350px;
    font-size: 16px;
}

h2.sectionLabel {
    font-size: 24px;
    font-weight: bold;
}

div.infoContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 25px;
}

h3.signOut {
    color: #FF000A;
    margin-top: 25px;
    cursor: pointer;
}

button.signIn {
    background-color: #FF000A;
    width: 80vw;
    max-width: 80%;
    height: 45px;

    margin-top: 50px;

    font-size: 18px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 9px;
}