li.item {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #000;
    width: 100%;
    height: 120px;
    border-radius: 12px;
}

/* Left side */
div.leftElements {
    display: flex;
    height: 100%;
    align-items: center;
}

div.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div.image {
    position: absolute;
    overflow: hidden;
    border-radius: 20px;
    width: 70px;
    height: 70px;
}

img.item {
    width: 100%;
    height: auto;
}

div.textContainer {
    position: relative;
    height: 70px;
}

h1.name {
    top: 0;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

h4.secondaryLabel {
    position: absolute;
    bottom: 0;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/* Right side */

h3.price {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    right: 43.3%;
}

h2.sum {
    position: absolute;
    text-align: left;
    right: 24.4%;
    transform: translateX(100%);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

div.x {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

img.x {
    position: absolute;
    right: 52px;
    width: 17px;
    height: 17px;
    opacity: 0.7;
    cursor: pointer;
}

img.x:hover {
    opacity: 1;
}

img.x:active {
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.25);
}