li.item {
    display: flex;
    background-color: #000;
    width: 100%;
    height: 120px;
    border-radius: 12px;
}

div.imageContainer {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 20px;
}

img.item {
    width: 100%;
    height: auto;
}

div.textContainer {}