h1.category {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
}

ul.category {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns for desktop */
    row-gap: 50px;
    column-gap: 20px;

    padding-top: 20px;
}


/* Tablet version */
@media screen and (max-width: 1200px) {
  ul.category {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for tablet */
  }
}

/* Mobile version */
@media screen and (max-width: 950px) {
  ul.category {
    grid-template-columns: repeat(2, 1fr); /* 2 column for mobile */
  }
}

/* Mobile version */
@media screen and (max-width: 600px) {
  ul.category {
    grid-template-columns: repeat(1, 1fr); /* 1 column for mobile */
    row-gap: 20px;
  }
}
/* "Add item" component for admins */

li.addItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    min-height: 200px;

    background-color: #353535;
    transition: background-color 0.2s ease-in-out;

    cursor: pointer;
}

li.addItem:hover {
    background-color: #454545;
}

img.addItem {
    width: 83px;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

img.addItem:hover {
    opacity: 0.8;
}