/* Carousel */
.carouselContainer {
    width: 3900px;
    display: inline-block;
    position: relative;
    gap: 20px;
}

@media screen and (max-width: 1350px) {
    .carouselContainer {
        width: calc(100vw*3);
    }
}

/* Carousel item */
div.item {
    position: relative;
    width: 1300px;
    height: 430px;
    padding-left: 50px;
    padding-right: 50px;
}

@media screen and (max-width: 1350px) {
    div.item {
        width: 100vw;
        height: calc((100vw - 100px) / 100 * 35.8333);
    }
}

@media screen and (max-width: 1000px) {
    div.item {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 850px) {
    div.item {
        padding-left: 20px;
        padding-right: 20px;
    }
}

div.itemContainer {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
    div.itemContainer {
        border-radius: 20px;
    }
}


@media screen and (max-width: 850px) {
    div.itemContainer {
        border-radius: 15px;
    }
}


img.item {
    width: 100%;
    height: auto;
}

/* Prev & next arrows */
.arrow {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 15px;
    height: auto;
}

.arrow.prev {
    left: calc(50% - 650px) !important
}

.arrow.next {
    left: calc(50% + 650px)
}

/* Indicator */
:global(.indicator) {
    z-index: 2;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.3;
    margin-right: 8px;
    margin-top: -40px;
    transition: opacity 0.3s ease-in-out;
}

:global(.indicator.active) {
    opacity: 0.8;
}

/* Admin editing */

div.admin {
    position: absolute;
    right: 38px;
    top: 6px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

button.admin {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #555555;
    opacity: 0.8;
    border-radius: 9px;

    transition: opacity 0.2s ease-in-out;
}

button.admin:hover {
    opacity: 1;
}

img.adminEdit {
    width: 37px;
    height: auto;
}

img.adminAdd {
    width: 30px;
    height: auto;
}