/* Page related */
main.profile {
    font-family: 'Montserrat', open-sans;
    width: 90%;
    max-width: 1200px;
    margin-top: 26px;
    min-height: 100vh;
}

div.firstLine {
    display: flex;
    justify-content: space-between;
}

h1.label {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: bold;
}

h3.linkToHome {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: end;
    text-decoration-line: underline;
    padding-top: 5px;
    max-width: 50vw;
}

@media screen and (max-width: 550px) {
    h1.label {
        font-size: 24px;
    }

    h3.linkToHome {
        font-size: 16px;
    }
}

/* Sections */
div.sectionsContainer {
    width: 100%;
    margin-top: 26px;
    display: grid;
    grid-template-columns: auto auto 1fr;
}

div.verticalLine {
    height: auto;
    border-left: 1px solid #878787;
    min-height: 200px
}