/* Higher labels */
div.pageName {
    padding: 25px 0 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: end;

    width: 90vw;
    max-width: 1200px;

    font-family: 'Montserrat', sans-serif;
}

/* Page name */
h1.label {
    font-size: 28px;
    font-weight: bold;
}

/* Back to home link */
h3.homeLink {
    font-size: 16px;
    text-decoration: underline;
}

@media screen and (max-width: 586px) {
    div.pageName {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 0 30px 0;
    }

    h1.label {
        font-size: 24px;
    }

    h3.homeLink {
        font-size: 14px;
    }
}

div.orders {
    width: 90vw;
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}