header {
    color: #FAFAFA;
    font-family: 'Inter', sans-serif;
    position: fixed;
    width: 100%;
    height: 73px;
    z-index: 20;
    background-color: #0F0F0F;
    display: flex;
    justify-content: center;
    padding: 0 50px;
}

@media screen and (max-width: 1300px) {
    header {
        padding: 0 50px;
    }
}

@media screen and (max-width: 550px) {
    header {
        height: 68px;
        padding: 0 15px;
    }
}

@media screen and (max-width: 480px) {
    header {
        height: 63px;
    }
}

button.login,
button.myOrders {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 48px;
    margin-top: 17px;
    background: linear-gradient(99.03deg, #323232 19.8%, rgba(15, 15, 15, 0) 100%);
    opacity: 1;
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

button.myOrders {
    width: 200px;
    padding: 0 30px;
}

@media screen and (max-width: 768px) {
    button.myOrders {
        width: 180px;
        padding: 0 15px;
    }
}

button.login:hover,
button.myOrders:hover {
    background-color: #323232;
}

.headerBlocks {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo image */
.logo {
    width: 260px;
    height: auto;
    margin-top: 12px;
    margin-bottom: 7px;
}

img.logoMini {
    display: none;
}

@media screen and (max-width: 715px) {
    .logo {
        width: 210px;
    }
}

@media screen and (max-width: 500px) {
    .logo {
        width: 43px;
    }

    img.logo {
        display: none;
    }

    img.logoMini {
        transform: scale(0.9);
        display: block;
    }
}

img.logo {
    width: 100%;
    height: auto;
}

/* Info container */
.infoContainer {
    display: flex;
    justify-content: space-between;
    width: 64%;
    margin-top: 13px;
    margin-right: 30px;
    align-items: center;
}

/* Phone div */
div.phone {
    display: inline-block;
    width: 172px;
}

img.phone {
    max-width: 28px;
    height: auto;
}

.textContainer {
    display: inline-block;
    font-size: 12px;
    margin-left: 9.43px;
}

h4.phone {
    color: #A9A9A9;
    display: inline-block;
}

p.phone {
    font-size: 14px;
    margin-top: 3.6px;
}

@media screen and (max-width: 950px) {
    div.phone {
        display: none;
    }
}

/* Delivery div */
div.delivery {
    display: inline-block;
    width: 200px;
}

img.delivery {
    display: inline-block;
    max-width: 30px;
}

h4.delivery {
    color: #A9A9A9;
    display: inline-block;
    font-size: 12px;
}

p.delivery {
    font-size: 14px;
    margin-top: 3.6px;
}

@media screen and (max-width: 1200px) {
    div.delivery {
        display: none;
    }
}

/* Login-Cart container */
div.loginCartContainer {
    display: inline-block;
    right: 0;
}

/* Login button */
img.login,
img.myOrders {
    display: inline-block;
    max-width: 28px;
    height: auto;
    margin-right: 10px;
}

img.myOrders {
    max-width: 25px;
}

p.login {
    display: inline-block;
    font-size: 14px;
}

/* Line style */

hr.header {
    border: 1px solid #313131
}