div.categories {
    max-width: 1200px;
}

ul.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns for desktop */
    column-gap: 30px;
    row-gap: 40px;

    width: 100%;
    margin-top: 15px;

    list-style-type: none;
}

/* Tablet version */
@media screen and (max-width: 1200px) {
  ul.categories {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablet */
  }
}

/* Mobile version */
@media screen and (max-width: 700px) {
  ul.categories {
    grid-template-columns: repeat(1, 1fr); /* 1 column for mobile */
  }
}

li.categories {
    overflow: hidden;
    border-radius: 7px;
    position: relative;
    width: 'auto';
    height: 300px;
    background-size: cover;
    transition: transform 0.2s ease-in-out;
}

li.categories:hover {
    transform: scale(1.05);
}

h1.categories {
    width: 100%;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    bottom: 10%;
    left: 8%;
}

img.categories {
    width: 280px;
    height: 300px;
}

@media screen and (max-width: 700px) {
    li.categories {
        height: 200px;
    }
    img.categories {
        height: 200px;
    }
  }
