li.item {
    position: relative;

    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;

    height: 450px;
    width: 270px;
    background-color: black;
    border-radius: 28px;

    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
}

li.item:hover {
    box-shadow: 0px 0px 28px rgba(255, 255, 255, 0.25);
}

div.newLabel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 33px;
    background-color: #FF0008;
    right: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 0 0 8px 8px;
    cursor: default;
}

img.item {
    width: 100%;
    height: auto;
    max-height: 215px;
    border-radius: 20px;
    margin-top: 15px;
}

h1.item {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    margin-top: 13px;
    cursor: default;
}

p.item {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 100%;
    letter-spacing: -0.005em;
    color: #A9A9A9;
    margin-top: 5px;
    overflow: hidden;
    cursor: default;
}

span.itemQty {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 20px;
}

div.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span.item {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.05em;
    cursor: default;
}