h1.category {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
}

ul.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    row-gap: 20px;
    padding-top: 20px;
}


@media screen and (max-width: 664px) {
    h1.category {
        margin-top: 20px;
    }

    ul.category {
        justify-content: center;
    }
}

@media screen and (max-width: 550px) {
    ul.category {
        row-gap: 0;
    }
}

/* "Add item" component for admins */

li.addItem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12.5px;

    background-color: #353535;
    transition: background-color 0.2s ease-in-out;

    cursor: pointer;
}

li.addItem:hover {
    background-color: #454545;
}

img.addItem {
    width: 83px;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

img.addItem:hover {
    opacity: 0.8;
}

/* Failed search */
h1.failedSearch {
    margin-top: 10px;
    font-family: 'Montserrat', open-sans;
}