button.addItem {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #353535;

    transition: background-color 0.2s ease-in-out;
}

button.addItem:hover {
    background-color: #555555;
}

img.addItem {
    width: 83px;
    height: auto;

    opacity: 0.5;

    transition: opacity 0.2s ease-in-out;
}

img.addItem:hover {
    opacity: 0.8;
}