button.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    column-gap: 10px;
    height: 48px;
    margin-top: 12px;
    background: linear-gradient(99.03deg, #323232 19.8%, rgba(15, 15, 15, 0) 100%);
    opacity: 1;
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

button.profile:hover {
    background-color: #323232;
}

/* profile button */
div.profileImage {
    position: relative;
}

img.profile {
    display: inline-block;
    max-width: 25px;
    height: auto;
    border-radius: 50%;
}

p.profile {
    display: inline-block;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    button.profile {
        padding: 0 20px;
    }

    p.profile {
        display: none;
    }
}

/* Notification */
span.notification {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    background-color: #FF000A;
    border-radius: 50%;
}