div.promo {
    position: relative;
    display: inline-block;
    height: 230px;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
}

div.newLabel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 33px;
    background-color: #FF0008;
    right: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 0 0 8px 8px;
}


img.promo {
    height: 100%;
    width: auto;
}

@media screen and (max-width: 500px) {
    div.promo {
        height: 200px;
    }
}

.promoTip {
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, #000000 100%);
    transition: top 0.4s ease-in-out;

    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

div.descriptionContainer {
    height: 100%;
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
}

h1.descriptionContainer {
    font-size: 22px;
    font-weight: bold;
}

p.descriptionContainer {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.selector {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Admin editing icon styling */
button.adminEdit {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 10px;
    top: 10px;

    width: 60px;
    height: 60px;
    background-color: #353535;
    border-radius: 9px;
    transition: background-color 0.2s ease-in-out;

    z-index: 10;
}

button.adminEdit:hover {
    background-color: #555555;
}

img.adminEdit {
    width: 37px;
    height: auto;
}

.scrollBar {
    background: none !important
}

:global .ps__rail-y {
    background: none !important;
}