div.firstLine {
    display: flex;
    align-items: end;
    column-gap: 10px;
}

img.editIcon {
    width: 20px;
    height: auto;
    margin-bottom: 5px;
    cursor: pointer;
}

h3.value {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}