div.admin {
    margin-top: -80px;
}

div.header {
    font-family: 'Montserrat', sans-serif;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

img.header {
    width: 260px;
    height: auto;
}

div.notifications {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1.notifications {
    font-size: 24px;
    font-weight: bold;
}

/*  */
div.orders {
    padding-top: 30px;
    display: flex;
    width: 1200px;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}