@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("./fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}


html {
    background-color: #0F0F0F;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    /* width: 90%; */
    height: 100%;
    background-color: #0F0F0F;
}