@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("./fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}


html {
    background-color: #0F0F0F;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: #fff;
}

div.search {
    width: 1200px;
    display: flex;
    justify-content: start;
}

:global h1.category {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 28px;
}

ul {
    list-style-type: none;
}