div.item {
    position: relative;
    width: 400px;
    height: 77px;

    background: #0F0F0F;
    border: 1px solid #6B6B6B;
    border-radius: 20px;

    display: flex;
    align-items: center;

    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 10px;
}

div.imageContainer {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 13px;
}

img.item {
    max-width: 100%;
    max-height: 100%;
}

div.leftTextContainer {
    margin-left: 18px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2.leftText {
    font-weight: bold;
    font-size: 18px;
}

h3.leftText {
    font-size: 16px;
}

h1.price {
    position: absolute;
    right: 15px;
    font-size: 19px;
    font-weight: bold;
}