nav {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 15px;
}

button.link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;

    letter-spacing: 1px;
    border-radius: 5px;
    padding: 2px;
    flex-grow: calc(100% + 10px);
    transition: background-color 0.2s ease-in-out;
}

button.link:hover {
    background-color: #fafafa62;
    border-radius: 5px;
}

@media screen and (max-width: 550px) {
    button.link {
        font-size: 14px;
    }
}