div.orderDetails {
    width: 1200px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
}

/* Header */
div.head {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 5px;
}

h1.head {
    font-size: 28px;
    font-weight: 800;
}

h4.head {
    margin-top: 10px;
    font-size: 18px;
}

h3.head {
    font-size: 18px;
    text-decoration: underline;
}

div.inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin-top: 30px;
}