div.orderDetails {
    width: 90%;
    max-width: 1200px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
}

/* Header */
div.head {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 5px;
}

@media screen and (max-width: 500px) {
    div.head {
        align-items: normal;
    }
}


h1.head {
    font-size: 28px;
    font-weight: 800;
}

h4.head {
    margin-top: 10px;
    font-size: 18px;
}

h3.head {
    font-size: 18px;
    text-align: end;
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    h1.head {
        font-size: 24px;
        max-width: 60%;
        padding-right: 10px;
    }

    h3.head {
        font-size: 16px;
        padding-left: 10px;
    }

    h4.head {
        font-size: 16px;
    }
}

div.inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin-top: 30px;
}