.cartTable {
    margin-top: 25px;
}

div.tableHeader {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: calc(70px + 4.4%) 2.7fr 80px 1fr 1.3fr 6%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

@media screen and (max-width: 750px) {
    div.tableHeader {
        display: none;
    }
}

h4.tableHeader {
    display: flex;
}

.headers2 {
    display: flex;
}

ul.items {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    row-gap: 6.5px;
}