div.counter {
    width: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

button.counter {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #a8a8a8;
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-tap-highlight-color: transparent;
}

button.counter:hover {
    background-color: #fafafa;
}

button.counter:disabled {
    opacity: 0.5;
    cursor: default;
}

img.counter {
    width: 15px;
    height: auto;
}

@media screen and (max-width: 600px) {
    div.counter {
        font-size: 14px;
        width: 90px;
    }

    img.counter {
        width: 13px;
        height: auto;
    }
}